# Python
__pycache__/
*.pyc
.venv/
venv/
.env
.vscode/

# Data - do not commit large/private project data
data/raw/
data/interim/
data/processed/


# ArcGIS locks/temp files
*.lock
*.sr.lock
*.aprx.lock

# OS files
.DS_Store
Thumbs.db
desktop.ini

